<div class="dialog-line card span6">
  <input type="hidden" name="id" value="<%= line.id %>">
  <input type="hidden" name="previous_line_id" value="<%= line.previous_line_id %>">
  <input type="hidden" name="scene" value="<%= line.scene %>">

  <span class="replace-text">
    <input
         name="character"
         type="text"
         class="form-control typeahead"
         value="<%= line.character %>"
         tabindex="<%= index + 2 %>">

    <h3 class="display card-heading simple dialog-line-display-character"><%= line.character %></h3>
  </span>

  <div class="card-body">
    <span class="replace-text">
      <input name="text"
             type="text"
             class="form-control"
             value="<%= line.text %>"
             tabindex="<%= index + 1 %>">

      <div class="display dialog-line-display-text">
        <%== line.markdown_text %>
      </div>
    </span>
  </div>

  <% if false && line.aftereffects.present? %>
    <div class="card-comments"><%== line.aftereffects %></div>
  <% end %>
</div>

<div class="section-divider" data-line-id="<%= line.id %>">
  <hr class="insert-line"></hr>
</div>
