<div class="pre-response" data-event-name="{{ EventName }}">
  {{#if EventName}}
    ⬑ <a class="event-name" href="#response/{{id}}">{{ EventName }}</a>
  {{/if}}

  {{#if Requirements}}
    <div class="requirements">
      {{#each Requirements}}
        <span class="requirement" data-id="{{ id }}">
          {{#if @first}} if {{/if}}
          <a href="#">{{Name}}</a> = {{FactTestValue}}
          {{#unless @last}} and {{/unless}}
        </span>
      {{/each}}
    </div>
  {{/if}}
</div>
