<div class="pre-response">
{{#if event_name}}
  ⬑ <a class="event-name" title="UniqueID:{{ unity_id }} DatabaseID:{{ id }}" href="#responds_to_event/{{ in_response_to_event_name }}">{{ event_name }}</a>
{{/if}}

{{#if Requirements}}
  <div class="requirements">
  {{#each Requirements}}
    <span class="requirement" data-name="{{ name }}" data-id="{{ id }}">
    {{#if @first}} if {{/if}}
      <a href="#">{{ name }}</a> {{ comparator }} {{ status }}
    {{#unless @last}} and {{/unless}}
    </span>
  {{/each}}
  </div>
{{/if}}
</div>
