<!-- [{"id":1,"kind":"Speech","previous_moment_id":null,"text":"It’s quiet in here...","character":"Henry","location":"Tower","audio_file_path":null,"tags":"paranoia","buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":2,"kind":"Speech","previous_moment_id":1,"text":"A little *too* quiet...","character":"Delilah","location":"Tower","audio_file_path":null,"tags":"paranoia","buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":3,"kind":"Speech","previous_moment_id":2,"text":"Eh, it’s probably nothing.","character":"Henry","location":"Tower","audio_file_path":null,"tags":null,"buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":4,"kind":"Speech","previous_moment_id":3,"text":"You're probably right, buddy.","character":"Delilah","location":"Tower","audio_file_path":null,"tags":null,"buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":5,"kind":"Speech","previous_moment_id":null,"text":"What was that?","character":"Henry","location":"Tower","audio_file_path":null,"tags":"paranoia","buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":6,"kind":"Speech","previous_moment_id":5,"text":"What was what?","character":"Delilah","location":"Tower","audio_file_path":null,"tags":null,"buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":7,"kind":"Speech","previous_moment_id":5,"text":"It was probably just the mouse.","character":"Delilah","location":"Tower","audio_file_path":null,"tags":null,"buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":8,"kind":"Speech","previous_moment_id":5,"text":"It was probably just the cat.","character":"Delilah","location":"Tower","audio_file_path":null,"tags":null,"buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":9,"kind":"Speech","previous_moment_id":6,"text":"That noise I just heard.","character":"Henry","location":"Tower","audio_file_path":null,"tags":null,"buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":10,"kind":"Speech","previous_moment_id":7,"text":"So annoying. Do you have any poison I can borrow?","character":"Henry","location":"Tower","audio_file_path":null,"tags":null,"buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"},{"id":11,"kind":"Speech","previous_moment_id":8,"text":"So annoying. Do you have any poison I can borrow?","character":"Henry","location":"Tower","audio_file_path":null,"tags":null,"buffer_seconds":null,"created_at":"2014-03-11T21:35:56.000Z","updated_at":"2014-03-11T21:35:56.000Z"}] -->

<div class="dialog-line card span6 {{ kind }}">
  <input type="hidden" name="id" value="{{ id }}">
  <input type="hidden" name="previous_moment_id" value="{{ previous_moment_id }}">
  <input type="hidden" name="scene" value="{{ location }}">

  <span class="replace-text">
    <input
         name="character"
         type="text"
         class="form-control typeahead"
         value="{{ character }}">

    <h3 class="display card-heading simple dialog-line-display-character">{{ character }}</h3>
  </span>

  <div class="card-body">
    <span class="replace-text">
      <input name="text"
             type="text"
             class="form-control"
             value="{{ text }}">

      <div class="display dialog-line-display-text">
        {{ text }}::::{{ markdown_text }}
      </div>
    </span>
  </div>

<!--     <div class="card-comments">{{! line.aftereffects }}</div> -->
</div>

<div class="section-divider" data-line-id="{{ id }}">
  <hr class="insert-line"></hr>
</div>

{{! To include a partial: }}
{{! just provide the path to the partial without the extension }}

{{! cool_partial }}

{{! the path can also be relative to the current template: }}
{{! ./coolPartial }}
