<span id="{{id}}-{{kind}}-card"
      class="card {{ kind }} {{ isHighlighted }} span4"
      data-moment-id="{{id}}"
      data-previous-moment-id="{{previous_moment_id}}"
      style="color: {{textColor}}">
<!--   <span class="replace-text">
    <input
         name="character"
         type="text"
         class="form-control typeahead"
         value="{{ character }}">

    <div class="display card-heading simple">{{ character }}</div>
  </span> -->

  <div class="card-body">
    <span class="replace-text">
      <input name="text"
             type="text"
             class="form-control"
             value="{{ text }}">

      <div class="display dialog-line-display-text">
        {{ text }}
        {{ markdown_text }}
      </div>
    </span>
  </div>
</span>

<div class="section-divider" data-line-id="{{ id }}">
  <hr class="insert-line"></hr>
</div>

{{! To include a partial: }}
{{! just provide the path to the partial without the extension }}

{{! cool_partial }}

{{! the path can also be relative to the current template: }}
{{! ./coolPartial }}
