<div class="replace-text character">
  <input class="input"
         name="character"
         type="text"
         value="{{ character }}">
  <div class="display character">
    {{ character }}
  </div>
</div>

<div class="replace-text text" style="color: {{textColor}}">
  <textarea class="input" name="text">{{ text }}</textarea>
  <span class="display text">{{ text}}</span>
</div>

<pre class="response-data hidden">
  id: {{ id }}
  on_finish_event_delay: {{ on_finish_event_delay }}
</pre>

{{#if on_finish_event_name}}
<div class="replace-text small on-finish-event-name">
  &#8627; trigger
  <input class="input"
         name="on_finish_event_name"
         type="text"
         value="{{ on_finish_event_name }}">
  <span class="display on-finish-event-name">
    <a class="event-name" title="Triggers {{on_finish_event_name}}" href="#responds_to_event/{{ on_finish_event_name }}">{{ on_finish_event_name }}</a>
  </div>
</div>
<!-- <div class="on-finish-event-name" data-on-finish-event-name="{{on_finish_event_name}}">
  &#8627; trigger <a href="#">{{on_finish_event_name}}</a>
</div> -->
{{/if}}
