<div class="character-name">{{Character}}</div>
<span class="replace-text" style="color: {{textColor}}">
  <input name="text"
         type="text"
         class="form-control"
         value="{{ Caption }}">

  <span class="speech-text display dialog-line-display-text">
    {{ Caption}}
  </span>
  <span class="delete">&#x2717;</span>
</span>
{{#if OnFinishEventName}}
<div class="on-finish-event-name">
  &#8627; trigger <a href="#">{{OnFinishEventName}}</a>
</div>
{{/if}}
