<div class="character-name">{{Character}}</div>
<span class="replace-text" style="color: {{textColor}}">
  <input name="text"
         type="text"
         class="form-control"
         value="{{ Caption }}">

  <div class="speech-text display dialog-line-display-text">
    {{ Caption}}
  </div>
</span>
{{#OnFinishEvent}}
<div class="onFinish">
  &#8627; {{OnFinishEvent}}
</div>
{{/OnFinishEvent}}

<div class="delete">
  &#x2717;
</div>
