<div class="replace-text character">
  <input name="character"
         type="text"
         class="form-control"
         value="{{ character }}">
  <div class="display character">
    {{ character }}
  </div>
</div>

<div class="replace-text text" style="color: {{textColor}}">
  <input name="text"
         type="text"
         class="form-control"
         value="{{ text }}">

  <span class="display text">
    {{ text}}
  </span>
</div>

<pre class="response-data hidden">
  id: {{ id }}
  on_finish_event_delay: {{ on_finish_event_delay }}
</pre>

{{#if on_finish_event_name}}
<div class="on-finish-event-name" data-on-finish-event-name="{{on_finish_event_name}}">
  &#8627; trigger <a href="#">{{on_finish_event_name}}</a>
</div>
{{/if}}
